@use '../../../../assets/styles/colors';
@use '../../../../assets/styles/mixins';

tbody {
  tr {
    .clickable {
      cursor: pointer;
      transition: 0.3s transform;
    }

    .clickable:hover {
      transform: scale(1.01);
    }

    .clickable:active {
      transform: scale(0.98);
    }
  }
}

.table-day {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid colors.$color-primary-light;

  .table-day-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: clamp(0.6rem, 2.25vw, 1rem);
    }

    .table-day-info-more {
      font-weight: 400;
      font-size: clamp(0.5rem, 2vw, 0.8rem)
    }
  }

  .table-day-lines {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    span {
      width: 100%;
      height: 2px;
      margin-top: 5px;
      background-color: colors.$color-primary-accent;
      display: inline-block;
    }
  }

  .table-day-description {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: colors.$color-primary-light;
    border-radius: 5px;
    font-size: clamp(0.6rem, 2.25vw, 1rem);

    span {
      font-weight: 500;
    }

    span:first-of-type {
      margin-bottom: 5px;
      font-weight: 800;
    }
  }
}

.table-day.active {
  color: colors.$color-primary-dark;
  font-weight: 700;
}

.table-day.inactive {
  color: colors.$color-primary-light
}

.modal-commits {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-y: auto;
}

.modal-commit {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-bottom: 1px solid colors.$color-primary-light;

  span {
    @include mixins.font-primary;
    padding: 3px;
  }

  a {
    text-decoration: none;
    transform-origin: 0%;
    transition: 0.3s transform;
  }

  a:hover {
    transform: scale(1.01);
  }

  a:active {
    transform: scale(0.98);
  }

  .modal-commit-title {
    font-size: clamp(0.8rem, 2.25vw, 1.2rem);
    font-weight: 600;
    color: colors.$color-primary-accent;
  }

  .modal-commit-subtitle {
    font-size: clamp(0.6rem, 2.25vw, 0.9rem);
    color: colors.$color-primary-dark;
  }

  .modal-commit-description {
    font-size: clamp(0.8rem, 2.25vw, 1rem);
    color: colors.$color-primary-dark;
  }
}

.modal-commits::-webkit-scrollbar {
  display: none;
}