@media only screen and (max-width: 992px) {
  .calendar-table {
    table {
      padding: 16px 8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .calendar-info-state-hover {
    right: 0;
  }
}

@media only screen and (max-width: 568px) {
  .calendar-info-date {
    .date-wrapper {
      width: 190px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .calendar {
    height: calc(85% - 20px);
  }

  .calendar-info-state {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    right: -14px;

    span {
      font-size: 16px;
    }
  }

  .calendar-table {
    table {
      padding: 12px 4px;
      border-spacing: 8px 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .calendar-info-date {
    .left {
      margin-right: 5px;
    }

    .right {
      margin-left: 5px;
    }

    .left,
    .right {
      margin-top: 4px;
    }

    .left div,
    .right div {
      width: 8px;
      height: 8px;
    }

    .date-wrapper {
      width: 130px;
    }
  }

  .calendar-table {
    table {
      border-spacing: 4px 0;
    }
  }
}