@use '../../assets/styles/colors';
@use '../../assets/styles/mixins';

header {
  width: calc(100% - 50px);
  height: calc(10% - 30px);
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: colors.$color-primary-accent;
  border-radius: 0 0 12px 12px;

  h1 {
    @include mixins.font-secondary;
    margin: 0;
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: colors.$color-secondary-light;
  }
}