@use '../src/assets/styles/colors';
@use '../src/assets/styles/mixins';

html, body, #root {
  display: block;
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @include mixins.center;
  background-color: colors.$color-primary-light;
}
